html {
    background-color: white;
}

.error-list {
    padding: 0;
    margin: 0;
}
.error-list li {
    color: red;
    margin-bottom: 5px;
}

.horizontal-alignment {
    display: flex;
    align-items: center;
}

.horizontal-alignment > * {
    margin-right: 30px;
}

.c-container {
    width: 100%;
}

.mt-10-i {
    margin-top: 10px !important;
}

.mt-20-i {
    margin-top: 20px !important;
}

.max-w-profile {
    max-width: 300px;
    word-wrap: break-word;
}

#upload-btn {
    padding: 5px !important;
}

#birthdate {
    width: 140px;
}

/* About select 2 modfications */
.select2-recipient {
    width: 100%;
}

.select2-results__option {
    color: black; /* Change the text color of options */
}


.action-button {
    text-align: right;
    margin-bottom: 10px;
}

.new-message-btn, #load-more-btn {
    text-decoration: none;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #f9f9f9;
    border-radius: 4px;
}

#load-btn-container {
    text-align: center;
}

.delete-message-btn {
    text-decoration: none;
    color: white;
    font-size: 10px;
    border: 1px solid #b74242;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #b74242;
    border-radius: 4px;
}

.thread-link {
    text-decoration: none;
}

/* About thread styles */

.inbox {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.delete-container {
    display: none;
}

.c-left {
    flex-direction: row-reverse;
}

.c-right {
    flex-direction: row;
    cursor: pointer;
}

.message-block {
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 10px;
    color: black;
    display: flex;
    align-items: flex-start;
}

.conversation {
    justify-content: space-between;
}

.message-block .left-content {
    text-align: left;
}

.message-block .right-content {
    text-align: right;
}

.message-block .header {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 16px;
}

.message-block .body {
    margin-bottom: 10px;
    font-size: 12px;
    word-wrap: break-word;
}

.message-block .footer {
    color: #666;
    font-size: 10px;
}

.avatar {
    width: 50px;
    height: auto;
    border-radius: 50%;
    margin-right: 10px;
}

.search-container {
    display: none;
}

.empty-m {
    text-align: center;
    display: none;
}

.delete-container-thread {
    width: 100%;
    position: relative;
}

.delete-message-btn-thread {
    position: absolute;
    bottom: 3;
    right: 0;
}

.message-content {
    width: 80%;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 100px;
}

.expand {
    white-space: normal;
    overflow: visible;
    max-height: none;
}